<div class="ui container">
    <div class="ui card">
        <h1>
            Team Generator
        </h1>
        <ul class="users-list">
            <li *ngFor="let member of members">
                {{ member }}
            </li>
        </ul>
        <div class="add-members-container">
            <input #memberName type="text" placeholder="Name" [value]="newMemberName"
                   (input)="inputMember(memberName.value)" />
            <button (click)="addMember()">Add</button>
        </div>
        <div class="input-container">
            <input #memberNumber type="number" placeholder="# of the team" [value]="numberOfTeam"
                   (input)="inputTeam(memberNumber.value)" />
            <button (click)="createTeam()">Generate</button>
        </div>
        <span class="error-message" *ngIf="errorMessage">
            {{ errorMessage }}
        </span>
    </div>
    <div class="ui card" *ngIf="teams.length">
        <div class="teams-container">
            <app-team *ngFor="let team of teams;let i = index;" [team]="team" [index]="i"></app-team>
        </div>
    </div>
</div>
