@import "~semantic-ui-css/semantic.min.css";

h1 {
    font-size: 3rem;
}

li {
    list-style: none;
}

.error-message {
    color: red;
}

.card {
    margin: 3rem auto!important;
    padding: 3rem!important;
    width: 50% !important;
}
